@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: #071e1f;
}
main > section {
  padding-top: 100px;
  max-width: 1152px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  main > section {
    padding-top: 75px;
    max-width: 1152px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  main > section {
    padding-top: 60px;
  }
}
.ball {
  width: 100px;
  height: 100px;
  background-color: #11f7d5;
  opacity: 0.1;
  border-radius: 50%;
}
